.form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 150px;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 500;
}

.form__label:not(:first-child){
  margin-top: 20px;
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 12px;
  transition: background-color 0.5s ease-in-out;
  border: 1px solid rgb(108, 107, 107);
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 17px 17px 84px 18px rgba(21, 15, 15, 0.2) inset;
  outline: none;
}

.form__input::placeholder {
  color: #ffffff;
  font-style: italic; 
  font-size: 16px;  
}

.form__input:focus {
  background-color: #f9f1f1;
  box-shadow: rgba(64, 64, 75, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 1px solid rgb(54, 52, 52);
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 6px;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 17px 17px 84px 18px rgba(21, 15, 15, 0.2) inset;
  border: 1px solid rgb(108, 107, 107);
  margin-top: 20px;
}

.form__btn:hover,
.form__btn:focus {
  background-color: rgb(114, 113, 114);
}